$primary-font: 'Noto Sans', sans-serif;
$secondary-font: 'Nunito', sans-serif;
$font-h1: 57.33px;
$font-h2: 33.18px;
$font-h3: 23.04px;
$font-h4: 19.2px;
$para-font: 16px;
$link-font: 14px;
$font-weight: 400;
$font-weight1: 700;
$font-weight2: 800;
$color1: #EBE9F9;
$color2: #FFEAB5;
$color3: #D9F2DD;
$color4: #0B0E11;
$color5: #616161;
$border-radius: 8px;