:root{
    --font-family: 'Poppins', sans-serif;
    --font-size-5: 1rem;
    --font-size-4: 1.3rem;
    --font-size-3:  1.375rem;
    --font-size-2: 1.875rem;
    --font-size-1: 2.5rem;
    --font-size: 1.5rem;
    --color-1: #bbe1fa;
    --color-2: #1b262c;
    --color-3: #82c8f7;
    --color-4: #ffffff;
    --color-5: #2f4653;
    --font-weight-1: 400;
    --font-weight-2: 500;
    --font-weight-3: 600;
    --font-weight-4: 900;
}
body{
    background-color: var(--color-3);
    font-family: var(--font-family);
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
}
.container{
    width: 95%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading{
    font-family: var(--font-family);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-4);
    color: var(--color-2);
    text-align: center;
    margin: 40px auto;
}

.btn{
    color: var(--color-2);
    background-color: var(--color-4);
    font-family: var(--font-family);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-2);
    margin: 0 auto;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 8px;
    
}

.btn:hover{
    box-shadow: 8px 12px 30px rgba(0,0,0,0.15);
    transform: translateX(-3px);
}

.table-container{
    width: 100%;
    margin: .5em auto .5em auto;
}

table{
    font-family: var(--font-family);
    width: 80%;
    color: var(--color-4);
    text-align: center;
    margin: 2em auto;
    border-collapse: separate; 
    border-spacing:0px 6px; 
    filter: drop-shadow(0px 10px 25px rgba(0,0,0,0.1));
}
.table-heading th{
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-4);
    padding: 20px;
    text-align: left;
    background-color: var(--color-1);
    color: var(--color-2);
}
.table-heading th:last-child {
    padding: 20px 50px;
}
tr {
    padding: 20px;
    background-color: var(--color-1);
}
.projects:hover{
    background-color: var(--color-3);
}
td{
    font-family: var(--font-family);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-3);
    text-align: left;
    padding: 20px;  
    color: var(--color-2);
}

.code a{
    text-decoration: none;
    padding: 20px;  
}
.code-img:hover {
    transform: scale(1.2);
}



@media(max-width:500px){
    .table-container {
        margin: .5em auto;
        width: 100%;
    }
    table{
        width: 90%;
    }
    .table-heading {
        display: none;
    }
    .projects {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto 5px auto;
    }
    .projects td {
        font-size: var(--font-size-4);
        text-align: center;
    }
    
    .code-img {
        width: 35px;
        height: 35px;
    }
    
    img {
        width: 100%;
        height: 100%;
    }
    td{
        font-size: var(--font-size-5);
        padding: 10px;  
    }
    tr:hover {
        background-color: var(--color-1);
    }
    
}