:root {
    --font-family: 'Poppins', sans-serif;
    --font-size-6: 1.25rem;
    --font-size-5:  1.375rem;
    --font-size-4: 1.5rem;
    --font-size-3: 1.875rem;
    --font-size-2: 3.438rem;
    --font-size-1:  4rem;
    --font-size:16px;
    --font-weight-1: 400;
    --font-weight-2: 500;
    --font-weight-3: 600;
    --font-weight-4: 700;
    --font-weight-5: 800;
    --font-weight-6: 900;
    --color-1: #bbe1fa;
    --color-2: #1b262c;
    --color-3:rgba(50, 130, 184, 0.3);
    --color-4: #ffffff;
    --line-height-1: 30px;
    --line-height-2: 33px;
    --line-height-3: 36px;
    --line-height-4: 45px;
    --line-height-5: 60px;
    --line-height-6: 96px;
    --border-radius: 10px;
    --border-radius-1: 20px;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--color-1);
    font-family: var(--font-family);
    font-size: var(--font-size);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
}
.navbar {
    margin: 20px auto 0 auto;
    width:50%;
    max-width: 563px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    font-family: var(--font-family);
    font-size:var(--font-size-4);
    font-weight: var(--font-weight-3);
    line-height: var(--line-height-3);
    text-decoration: none;
    color: var(--color-2);
    padding: 4px 14px;

}

.active, .nav-links:hover {
    background: var(--color-3);
        color: var(--color-2);
    border-radius: var(--border-radius);
}
.welcome-section {
    margin: 180px auto 0 auto;
}
.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
}
.greeting {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-4);
    line-height: var(--line-height-5);
    color: var(--color-2);
    text-align: center;
    margin: 0 auto 15px auto;
    max-width: 516px;
}
.desc {
    font-size: 1.375em;
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-2);
    color: var(--color-2);
    text-align: center;
    margin: 0 auto 35px auto;
    max-width: 720px;
}
.resume {
    text-decoration: none;
    color: var(--color-2);
    font-weight: var(--font-weight-5);
}
.resume:hover {
    text-decoration: underline;
}
.btn {
    border: none;
    background-color: var(--color-4);
    border-radius: var(--border-radius);
    margin: 0 auto 150px auto;
    padding: 10px 16px;
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-2);
    color: var(--color-2);
    text-decoration: none;

}

.work-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.work-section .heading
{
    margin: 0 auto 80px ;
}
.projects {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto 80px;
}
.hotstar-card, .mi-card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: 20px 30px;
    background-color: var(--color-4);
    border-radius: var(--border-radius);
}
.hotstar-card-img, .mi-card-img {
    width: 90%;
    margin: 20px 0 0 0;
}
.hotstar-card-desc, .mi-card-desc {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--color-1);
    border-radius: var(--border-radius);
    width: 90%;
    margin: 20px;
}
.card-title {
    font-family: var(--font-family);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-4);
    line-height: var(--line-height-4);
    color: var(--color-2);
    text-align: left;
    margin: 20px 0 10px 25px;
    padding: 0;
}
.card-desc {
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-1);
    margin: 0 37px 15px 25px;
    color: var(--color-2);
    padding: 0;
}
.technology-container {
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 20px 25px;
}
.tech-stack {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-3);
    line-height: var(--line-height-2);
    color: var(--color-2);
    margin: 0 40px 0 0;
    padding: 0;
}
.link-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0 25px 25px;
}
.project-link
{
    width: 50px;
    margin:0 50px 0 0;
}


.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.heading {
    font-family: var(--font-family);
    font-size: 4em;
    font-weight: var(--font-weight-4);
    line-height: var(--line-height-6);
    color: var(--color-2);
    text-align: center;
    margin: 0 auto 50px ;
}

.skills { 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}
.html, .css, .bs, .sass, .js, .git {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 50px;
}
img {
    width: 100%;
    height: 100%;
}
.skill {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-3);
    line-height: var(--line-height-2);
    color: var(--color-2);
    margin: 10px auto 0 auto;
    text-align: center;
}
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 100px auto 57px;
}
.contact-details {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

 .linked-in, .twitter, .git-hub {
    width: 100px;
    height: 100px;
    margin: 30px ;
}
.gmail-link {
    font-family: var(--font-family);
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-3);
    line-height: var(--line-height-3);
    color: var(--color-2);
    text-decoration: none;
    padding: 25px 40px;
    background-color: var(--color-4);
    border-radius: var(--border-radius);
    margin: 0 30px 0 0;
}
.footer-container {
    margin: 0 auto;
}
.footer-content {
    font-family: var(--font-family);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}
.content, .profile-link {
    font-size:var(--font-size-6);
    font-weight: var(--font-weight-2);
    line-height: var(--line-height-3);
    color: var(--color-2);
    text-align: center;
    margin: 0 64px 0 0;
}
.profile-link a {
    font-weight: var(--font-weight-6);
    text-decoration: none;
    color: var(--color-2);
}
.profile-link a:hover {
    text-decoration: underline;
}
.go-up {
    margin: 0 0 0 40px;
    width: 40px;
}
