body {
  font-family: "Noto Sans", sans-serif;
  width: 98%;
}

body .container {
  margin: 0 auto;
  color: #0B0E11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .navbar {
  margin: 40px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

body .container .navbar .logo {
  font-family: "Noto Sans", sans-serif;
  font-size: 19.2px;
  font-weight: 800;
  margin: 0 491px 0 0;
}

body .container .navbar .nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

body .container .navbar .nav-items .nav-links {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0 40px 10px 0;
}

body .container .navbar .nav-items .nav-links:nth-child(3) {
  margin: 0 0 10px 0;
}

body .container .navbar .nav-items .nav-links:hover {
  border-bottom: 1px solid #0B0E11;
}

body .container .navbar .nav-items .nav-links a {
  color: #0B0E11;
  text-decoration: none;
}

body .container .navbar .nav-items .active {
  border-bottom: 1px solid #0B0E11;
}

body .container .navbar .hamburger-menu {
  display: none;
}

body .container .welcome-section .introduction {
  margin: 193px auto 153px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .welcome-section .introduction .role {
  font-family: "Noto Sans", sans-serif;
  font-size: 57.33px;
  text-align: center;
  margin: 0 auto 20px;
}

body .container .welcome-section .introduction .check-work {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

body .container .welcome-section .introduction .check-work .down-arrow {
  margin: 0 10px 0 0;
}

body .container .welcome-section .introduction .check-work .check-link {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #616161;
  text-decoration: none;
}

body .container .work-section {
  width: 99%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .work-section .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .work-section .projects .project-card {
  width: 776px;
  height: 300px;
  margin: 0 0 80px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .work-section .projects .project-card .card-img {
  width: 380px;
  height: 380px;
  margin: 10px;
}

body .container .work-section .projects .project-card .card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body .container .work-section .projects .project-card .card-content {
  margin: 40px 30px 40px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .container .work-section .projects .project-card .card-content .short-desc {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #616161;
  margin: 0 0 30px 0;
}

body .container .work-section .projects .project-card .card-content .card-title {
  font-family: "Noto Sans", sans-serif;
  font-size: 23.04px;
  font-weight: 700;
  color: #0B0E11;
  margin: 0 0 20px 0;
}

body .container .work-section .projects .project-card .card-content .card-desc {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #616161;
  margin: 0 30px 0 0;
}

body .container .work-section .projects .project-card .card-content .link-container {
  margin: 40px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

body .container .work-section .projects .project-card .card-content .link-container .projectLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

body .container .work-section .projects .project-card .card-content .link-container .projectLinks:nth-child(1) {
  margin: 0 50px 0 0;
}

body .container .work-section .projects .project-card .card-content .link-container .projectLinks .process-img, body .container .work-section .projects .project-card .card-content .link-container .projectLinks .live-img {
  margin: 0 10px 0 0;
}

body .container .work-section .projects .project-card .card-content .link-container .projectLinks .process-link, body .container .work-section .projects .project-card .card-content .link-container .projectLinks .live-link {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #0B0E11;
  text-decoration: none;
}

body .container .work-section .explore-more {
  margin: 0 auto 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

body .container .work-section .explore-more .explore-btn {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #0B0E11;
  margin: 0 10px 0 0;
  text-decoration: none;
}

body .container .contact-section .socailLinkContainer {
  margin: 0 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

body .container .contact-section .socailLinkContainer .socialMediaLinks {
  margin: 0 40px 0 0;
}

body .container .contact-section .socailLinkContainer .socialMediaLinks:nth-child(3) {
  margin: 0 0 0 0;
}

body .container .footer-container {
  margin: 0 0 20px 0;
}

body .container .footer-container .footer-content .profile-link {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #0B0E11;
  text-align: center;
}

body .container .footer-container .footer-content .profile-link a {
  text-decoration: none;
  color: #0B0E11;
}

@media (max-width: 768px) {
  body .container .navbar .logo {
    margin: 0 350px 0 0;
  }
  body .container .welcome-section .introduction .role {
    font-size: 33.18px;
  }
  body .container .work-section .projects .project-card {
    width: 600px;
    height: 300px;
  }
  body .container .work-section .projects .project-card .card-img {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 425px) {
  body {
    width: 95%;
    margin: 0 auto;
  }
  body .container .navbar {
    margin: 40px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .container .navbar .logo {
    margin: 0 100px 0 0;
  }
  body .container .navbar .nav-items {
    display: none;
  }
  body .container .navbar .hamburger-menu {
    display: block;
    margin: 0 0 0 100px;
  }
  body .container .welcome-section .introduction {
    margin: 100px auto 0;
  }
  body .container .work-section {
    margin: 100px auto 0;
  }
  body .container .work-section .projects .project-card {
    width: 350px;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .container .work-section .projects .project-card .card-img {
    margin: 0;
    width: 320px;
    height: 300px;
  }
  body .container .work-section .projects .project-card .card-content {
    margin: 0 0 0 20px;
  }
  body .container .work-section .projects .project-card .card-content .short-desc {
    margin: 0 0 20px;
  }
  body .container .work-section .projects .project-card .card-content .card-title {
    margin: 0 0 15px;
  }
  body .container .work-section .projects .project-card .card-content .card-desc {
    margin: 0;
  }
  body .container .work-section .projects .project-card .card-content .link-container {
    margin: 60px 0 40px;
  }
}

@media (max-width: 320px) {
  body .container .navbar .logo {
    margin: 0 90px 0 0;
  }
  body .container .navbar .hamburger-menu {
    margin: 0 0 0 90px;
  }
  body .container .welcome-section .introduction .role {
    font-size: 23.04px;
  }
  body .container .work-section .projects .project-card {
    width: 300px;
    height: 550px;
  }
  body .container .work-section .projects .project-card .card-img {
    width: 280px;
    height: 260px;
  }
  body .container .work-section .projects .project-card .card-content {
    margin: 0 0 40px 15px;
  }
  body .container .work-section .projects .project-card .card-content .link-container {
    margin: 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .container .work-section .projects .project-card .card-content .link-container .projectLinks:nth-child(1) {
    margin: 0 0 15px 0;
  }
}
/*# sourceMappingURL=style.css.map */