         /*------------   css variables -----------*/
:root {
    --font-family: 'Poppins', sans-serif;
    --font-size-6: 1.25rem;
    --font-size-5:  1.375rem;
    --font-size-4: 1.5rem;
    --font-size-3: 1.875rem;
    --font-size-2: 3.438rem;
    --font-size-1:  4rem;
    --font-size:16px;
    --font-size-small:13px;
    --font-weight-1: 400;
    --font-weight-2: 500;
    --font-weight-3: 600;
    --font-weight-4: 700;
    --font-weight-5: 800;
    --font-weight-6: 900;
    --color-1: #bbe1fa;
    --color-2: #1b262c;
    --color-3:rgba(50, 130, 184, 0.3);
    --color-4: #ffffff;
    --line-height-1: 30px;
    --line-height-2: 33px;
    --line-height-3: 36px;
    --line-height-4: 45px;
    --line-height-5: 60px;
    --line-height-6: 96px;
    --border-radius: 10px;
    --border-radius-1: 20px;
    --box-shadow-1: 8px 12px 20px rgba(0,0,0,0.15);
    --box-shadow-2: 5px 10px 15px rgba(0,0,0,0.12);
    
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--color-1);
    font-family: var(--font-family);
    font-size: var(--font-size);
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
         /*------------total container------------*/
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
}
         /*---------navigation bar----------*/
.navbar {
    margin: 20px auto 0 auto;
    width:50%;
    max-width: 563px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
         /*------------navigation links----------*/
.nav-links {
    font-family: var(--font-family);
    font-size:var(--font-size-4);
    font-weight: var(--font-weight-3);
    line-height: var(--line-height-3);
    text-decoration: none;
    color: var(--color-2);
    padding: 4px 14px;

}
         /*-----------hover effect for navigation---------*/
.active, .nav-links:hover {
    background: var(--color-3);
    color: var(--color-2);
    border-radius: var(--border-radius);
} 
         /*----------about section starts---------*/
.welcome-section {
    margin: 180px auto 0 auto;
}
         /*------------about section-----------*/
.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
}
         /*-------------about section heading------------*/
.greeting {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-4);
    line-height: var(--line-height-5);
    color: var(--color-2);
    text-align: center;
    margin: 0 auto 15px auto;
    max-width: 516px;
}
/*-------------about section description------------*/
.desc {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-2);
    color: var(--color-2);
    text-align: center;
    margin: 0 auto 35px auto;
    max-width: 720px;
}
.resume {
    text-decoration: none;
    color: var(--color-2);
    font-weight: var(--font-weight-5);
}
.resume:hover {
    text-decoration: underline;
}
/*-------------know more button------------*/
.btn {
    border: none;
    background-color: var(--color-4);
    border-radius: var(--border-radius);
    margin: 0 auto 150px auto;
    padding: 10px 16px;
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-2);
    color: var(--color-2);
    text-decoration: none;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: var(--box-shadow-1);
}
/*----------about section ends----------*/


/*------------work section starts------------*/
.work-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
/*---------------work section heading-------------*/
.work-section .heading
{
    margin: 0 auto 80px ;
}
/*--------------projects container-------------*/
.projects {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto 80px;
}
/*-------------project card--------------*/
.hotstar-card, .mi-card, .clipboard-card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: 20px;
    background-color: var(--color-4);
    border-radius: var(--border-radius);
}
.hotstar-card:hover, .mi-card:hover, .clipboard-card:hover {
    transform: translateY(-3px);
    box-shadow: var(--box-shadow-1);
}
/*------------project image-------------*/
.hotstar-card-img, .mi-card-img, .clipboard-card-img {
    width: 90%;
    margin: 20px 0 0 0;
}
/*--------------project description container------------*/
.hotstar-card-desc, .mi-card-desc, .clipboard-card-desc {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--color-1);
    border-radius: var(--border-radius);
    width: 90%;
    margin: 20px;
}
.hotstar-card-desc:hover, .mi-card-desc:hover, .clipboard-card-desc:hover {
    transform: translateY(-2px);
    box-shadow: var(--box-shadow-2);
}
/*-----------project title----------*/
.card-title {
    font-family: var(--font-family);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-4);
    line-height: var(--line-height-4);
    color: var(--color-2);
    text-align: left;
    margin: 20px 0 10px 25px;
    padding: 0;
}
/*---------------project description----------*/
.card-desc {
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-1);
    margin: 0 37px 15px 25px;
    color: var(--color-2);
    padding: 0;
}
/*--------------technologies container-----------*/
.technology-container {
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 20px 25px;
}
/*--------------technologies used in project-----------*/
.tech-stack {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-3);
    line-height: var(--line-height-2);
    color: var(--color-2);
    margin: 0 40px 0 0;
    padding: 0;
}
/*--------------project code link container-----------*/
.link-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0 25px 25px;
}
/*--------------project live link and code link-----------*/
.project-link
{
    width: 50px;
    margin:0 50px 0 0;
}
.project-link:hover {
    transform: scale(1.1);
    border-radius: 50px;
}
/*--------------project section ends-----------*/


/*--------------skills section starts-----------*/
.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
/*--------------skills section heading-----------*/
.heading {
    font-family: var(--font-family);
    font-size: 4em;
    font-weight: var(--font-weight-4);
    line-height: var(--line-height-6);
    color: var(--color-2);
    text-align: center;
    margin: 0 auto 50px ;
}
/*--------------my skills container-----------*/
.skills { 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}
/*--------------skills-----------*/
.html, .css, .bs, .sass, .js, .git {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 50px;
}

/*--------------skills name-----------*/
.skill {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-3);
    line-height: var(--line-height-2);
    color: var(--color-2);
    margin: 10px auto 0 auto;
    text-align: center;
}
/*--------------skills section ends-----------*/

/*--------------contact section starts-----------*/
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 100px auto 57px;
}
/*--------------contact details container-----------*/
.contact-details {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
/*--------------social media links-----------*/

.g-mail
{
 margin: 0 30px 0 0;
}
.gmail-link {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-3);
    color: var(--color-2);
    text-decoration: none;
    padding: 25px 40px;
    background-color: var(--color-4);
    border-radius: var(--border-radius);
    margin: 0 ;
}
.socailLinkContainer
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
}
.socialMediaLinks {
    color: var(--color-2);
    text-decoration: none;
    background-color: var(--color-4);
    border-radius: var(--border-radius);
    width: 100px;
    height: 100px;
    margin: 30px ;
}
.gmail-link:hover, .socialMediaLinks:hover {
    transform: translateY(-3px);
    box-shadow: var(--box-shadow-1);
    border-radius: var(--border-radius);
}


/*--------------contact section ends-----------*/


/*--------------footer section starts-----------*/
.footer-container {
    margin: 0 auto;
}
/*--------------footer content-----------*/
.footer-content {
    font-family: var(--font-family);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}
.content, .profile-link {
    font-size:var(--font-size-6);
    font-weight: var(--font-weight-2);
    line-height: var(--line-height-3);
    color: var(--color-2);
    text-align: center;
    margin: 0 64px 0 0;
}
.profile-link a {
    font-weight: var(--font-weight-6);
    text-decoration: none;
    color: var(--color-2);
}
.profile-link a:hover {
    text-decoration: underline;
}
.go-up {
    margin: 0 0 0 40px;
    width: 40px;
}
.go-up:hover {
    transform: translateY(-3px);
    filter: drop-shadow(8px 10px 10px rgba(0,0,0,0.35));
}
/*--------------footer section ends-----------*/

/*-------------media queries for small desktop---------------*/

@media(max-width:1100px) {

    .hotstar-card, .mi-card, .clipboard-card {
        margin: 20px 40px;
    }
}

/*--------------media queries-for tablet-----------*/

@media(max-width:900px) {
    
    .navbar {
       width:60%;
    }
    .hotstar-card, .mi-card, .clipboard-card {
        margin: 20px auto;
    }
    .skills { 
        width: 90%;
    }
    .g-mail{
        margin: 0;
    }
    .gmail-link {
        margin: 0 auto;
        padding: 25px;
    }
}

/*--------------media queries-for mobile-----------*/

@media(max-width:700px) {

    
    .navbar {
        width:98%;
    }
    .greeting {
        max-width: 450px;
        padding: 0 20px;
    }
    .desc {
        max-width: 450px;
        padding: 0 20px;
    }
    .hotstar-card, .mi-card, .clipboard-card {
        margin: 20px auto;
    }
    .tech-stack {
        font-size: var(--font-size-5);
        font-weight: var(--font-weight-3);
        line-height: var(--line-height-2);
        color: var(--color-2);
        margin: 0 40px 0 0;
        padding: 0;
    }
    .skills { 
        width: 90%;
    }
    .html, .css, .bs, .sass, .js, .git {
        margin: 30px;
    }
    .contact-details
    {
        justify-content: center;
    }
    .socialMediaLinks {
        margin:30px 20px;
    }
    .gmail-link {
        margin: 0 auto;
    }

    .footer-content {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        padding: 30px 0;
    }
    .content, .profile-link {
        margin: 10px auto;
    }
    .go-up {
       margin: 0 auto;
    }
}

/*--------------media queries-for extra small screen-----------*/
 
@media(max-width:375px) {
    :root
    {
        --font-size-1:1.5rem;
        --font-size-2:1.3rem;
        --font-size-3:1rem;
        --font-size-4:.9rem;
    }
    body {
        font-size: var(--font-size-small);
    }
    .navbar {
        width:100%;
    }
    .nav-links {
       
        font-size:var(--font-size-3);
    }
  
    .welcome-section {
        margin: 100px auto 0 auto;
    }
    .introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .greeting {
        font-size: var(--font-size-1);
        margin:0  ;
        padding: 0 10px;
    }
    .desc {
        font-size: var(--font-size-3);
        margin: 0 0 30px 0;
        width: 95%;
        padding: 0 10px;
        text-align: center;

    }
   
  
    .btn {
        margin: 0 0 80px 10px;
        font-size: var(--font-size-3);

    }

    
    .work-section .heading
    {
        margin: 0 0 10px ;
        font-size: var(--font-size-1);
    }
    .projects {
   
        margin: 0 auto 15px;

    }
    .hotstar-card, .mi-card, .clipboard-card {
      
        width: 300px;
        margin: 20px auto;
 
    }

    .hotstar-card-desc, .mi-card-desc, .clipboard-card-desc {
        width: 90%;
        margin: 20px 0;
    }
    .card-title {
        font-size: var(--font-size-2);
        margin: 10px 0 5px 15px;
    }
    .card-desc {
        font-size: var(--font-size-3);

        margin: 0 15px 5px ;
   
    }
    .technology-container {
      
        margin: 0 0 15px 15px;
    }
    
    .tech-stack {
        font-size: var(--font-size-4);

    }
    .link-container {
    
        margin: 0 0 15px 15px;
    }
    .project-link
    {
        width: 35px;
        margin:0 40px 0 0;
    }

 .skills-section{
     margin:  0;
 }
    .heading {
        font-size: var(--font-size-1);
        margin: 0 auto ;
        padding: 0;
    }
   .skills
   {
       width: 100%;
   }
    .html, .css, .bs, .sass, .js, .git
     {
        width: 50px;
    }

    .skill {
        font-size: var(--font-size-3);
    }
  
    .contact-section {
  
        margin: 30px auto 20px;
    }
  
     .socialMediaLinks {
        margin: 15px;
        width: 70px;
        height: 70px;
    }
    .gmail-link {
        font-size: var(--font-size-3);
        padding: 15px 30px;
        margin: 0 10px;
    }


    .footer-content {
        flex-flow: column wrap;
        padding: 10px 0;
    }
    .content, .profile-link {
        font-size:var(--font-size-4);
        margin: 0 ;
    }

    .go-up {
        margin: 30px 0 0 0 ;
        width: 40px;
    }

}
