@import "./variables";
@import "./mixinflex";

body {
    font-family: $primary-font;
    width: 98%;
    // margin: 0 auto;

    .container {
        // margin: 0 auto;
        color: $color4;
        @include flex(column,center,center);

        .navbar {
            margin: 40px 0 0;
            @include flex(row,space-between,center);

            .logo {
                font-family: $primary-font;
                font-size: $font-h4;
                font-weight: $font-weight2;
                margin: 0 491px 0 0;
            }

            .nav-items {
                list-style-type: none;
                margin-top: 0;
                margin-bottom: 0;
                
                @include flex(row,space-between,center);

                .nav-links {
                    font-family: $secondary-font;
                    font-size: $para-font;
                    font-weight: $font-weight;
                    margin: 0 40px 10px 0;

                    &:nth-child(3){
                        margin: 0 0 10px 0;
                    }
                    &:hover {
                        border-bottom: 1px solid $color4;
                    }

                    a {
                    color: $color4;
                    text-decoration: none;
                    }
                }

                .active {
                    border-bottom: 1px solid $color4;
                    font-weight: $font-weight1;
                }
            }

            .hamburger-menu {
                display: none;
            }
        }

        .welcome-section {

            .introduction {
                margin: 193px auto 153px;
                @include flex(column,center,flex-start);

                .role {
                    font-family: $primary-font;
                    font-size: $font-h1;
                    text-align: center;
                    margin: 0 auto 20px;
                }

                .check-work {
                    margin: 0;
                    @include flex(row,space-between,center);

                    .down-arrow {
                        margin: 0 10px 0 0;
                    }

                    .check-link {
                        font-family: $secondary-font;
                        font-size: $link-font;
                        font-weight: $font-weight;
                        color: $color5;
                        text-decoration: none;
                    }
                }
            }
            
        }

        .work-section {
            width: 99%;
            margin: 0 auto;
            @include flex(column,center,center);

            .projects {
                @include flex(column,center,space-between);

                .project-card {
                    width: 776px;
                    height: 300px;
                    margin: 0 0 80px;
                    border-radius: $border-radius;
                    flex-flow:  row nowrap;
                    @include flex(row,center,center);

                    .card-img {
                        width: 380px;
                        height: 400px;
                        padding: 20px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    .card-content {
                        margin: 20px 30px;
                        padding: 10px;
                        width: 315px;
                        @include flex(column,flex-start,center);

                        .short-desc {
                            font-family: $secondary-font;
                            font-size: $link-font;
                            font-weight: $font-weight;
                            color: $color5;
                            margin: 0 0 20px 0;
                        }
                        .card-title {
                            font-family: $primary-font;
                            font-size: $font-h3;
                            font-weight: $font-weight1;
                            color: $color4;
                            margin: 0 0 20px 0;
                        }
                        .card-desc {
                            font-family: $secondary-font;
                            font-size: $para-font;
                            font-weight: $font-weight;
                            color: $color5;
                            margin: 0 30px 0 0;
                        }

                        .link-container {
                            margin: 20px 0 20px 0;
                            @include flex(row,space-between,center);

                            .projectLinks {
                                @include flex(row,space-between,center);

                                &:nth-child(1) {
                                    margin: 0 50px 0 0;
                                }
                                .process-img, .live-img {
                                    margin: 0 10px 0 0;
                                }
                                .process-link, .live-link {
                                    font-family: $secondary-font;
                                    font-size: $link-font;
                                    font-weight: $font-weight;
                                    color: $color4;
                                    text-decoration: none;

                                    &:hover {
                                        border-bottom: 1px solid $color4;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .explore-more {
                margin: 0 auto 80px;
                @include flex(row,space-between,center);

                .explore-btn {
                    font-family: $secondary-font;
                    font-size: $para-font;
                    font-weight: $font-weight;
                    color: $color4;
                    margin: 0 10px 0 0;
                    text-decoration: none;
                }
            }
        }

        .contact-section {

           .socailLinkContainer {
               margin: 0 0 50px 0;
               @include flex(row,space-between,center);

               .socialMediaLinks {
                   margin: 0 40px 0 0;

                   &:nth-child(3) {
                       margin: 0 0 0 0;
                   }
               }
           } 
        }

        .footer-container {
            margin: 0 0 20px 0;

            .footer-content {
                 
                .profile-link {
                    font-family: $secondary-font;
                    font-size: $link-font;
                    font-weight: $font-weight;
                    color: $color4;
                    text-align: center;

                    a {
                        text-decoration: none;
                        color: $color4;
                    }
                }
            }
        }

        .about-section {
            margin: 80px auto 50px;
           
            .about-heading {
                margin: 30px auto 25px; 
                font-family: $primary-font;
                font-size: $font-h2;
            }
            .about-description {
                font-family: $secondary-font;
                font-size: $para-font;
                line-height: 1.8; 
                margin: 0 auto 30px; 
                font-size: $para-font; 
                max-width: 700px;

                .maasika {
                    text-decoration: none; 
                    font-weight: $font-weight1; 
                    color: rgb(36, 170, 248);

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .resume {
                font-family: $secondary-font;
                margin: 30px 0 0 0;    

                a {
                    text-decoration: none;
                    font-weight: $font-weight1;
                    color: $color4;
    
                    &:hover {
                        text-decoration: underline;
                    }    
                }
            }
        }

        .experience-section {
            margin: 80px auto 60px;
            
            .experience-heading {
                font-family: $primary-font;
                font-size: $font-h3;
                margin: 0px 0px 25px;
            }

            .experience-card {
                width: 330px;
                height: 180px;
                box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.15);
                border-radius: $border-radius1;
                color: $color6;
                @include flex(column,space-between,flex-start);

                .company {
                    font-family: $primary-font;
                    font-size: $font-h4;
                    font-weight: $font-weight1;
                    color: $color4;
                    margin: 25px 0px 5px 25px;
                }

                .role {
                    font-family: $secondary-font;
                    font-size: $para-font;
                    color: $color5;
                    font-weight: $font-weight;
                    margin: 5px 0px 40px 25px;
                }

                .intern-info {
                    list-style-type: none;
                    margin: 0px 25px 25px;
                    padding: 0px;
                    @include flex(row,flex-start,space-between);

                    li {
                        font-family: $secondary-font;
                        font-size: $link-font;
                        font-weight: $font-weight;
                        color: $color5;
                    }
                }
            }
        }

        .skills-section, .tools-section, .contact-section {

            .skills-heading, .tools-heading, .contact-heading {
                font-family: $primary-font;
                font-size: $font-h3;
                margin: 0px 0px 25px;
            }
            .tools-heading, .contact-heading {
                margin: 60px 0px 30px; 
            }

            .socailLinkContainer {
                
                @include flex(row,space-between,flex-start);
            }

            .skills, .tools {
                list-style-type: none;
                margin: 0px 0px 25px;
                padding: 0px;
                
                width: 70%;
                @include flex(row,flex-start,flex-start);
                flex-flow: row wrap !important;

                li {
                    font-family: $secondary-font;
                    font-size: $link-font;
                    font-weight: $font-weight;
                    color: $color5;
                    margin: 0px 30px 0px 0px;
                    padding-bottom: 20px;
                }
            }
            .tools {
                @include flex(row,flex-start,flex-start);

                li {
                    margin: 0px 30px 0px 0px;
                }
            }
        }

        .dropMail-section {
            width: 100%;
            margin: 30px auto;
            // background-color: $color7;
            @include flex(column,center,center);

            .drop-mail {
                font-family: $primary-font;
                font-size: $font;
                font-weight: $font-weight3;
                color: $color4;
                max-width: 700px;
                text-align: center;
                margin: 10px auto 0px;
                padding: 0px 10px;
            }
            .copy-text {
                font-family: $secondary-font;
                font-size: $para-font;
                font-weight: $font-weight;
                color: $color8;
                margin: 35px auto 30px;

                a {
                    text-decoration: none;
                    color: $color8;

                    &:hover {
                        border-bottom: 1px solid $color8;
                    }
                }
            }
        }
    } 
}

@media(max-width:800px) {

    body {
        .container {

            .navbar {
                .logo {
                    margin: 0 300px 0 0;
                    padding: 0 0 0 10px;
                }
            }
            
            .welcome-section {
                .introduction {
                    .role {
                        font-size: $font-h2;
                    }
                }
            }

            .work-section {
                .projects {
                    .project-card {
                        width: 600px;
                        height: 300px;
                        .card-img {
                            width: 350px;
                            height: 350px;
                        }
                    }
                }
            }
        }

        .about-section {

            .about-description {
                max-width: 500px;
            }
        }
    }
}

@media(max-width:600px) {

    body {
        // width: 95%;
        // margin: 0 auto;
        .container {
            
            .navbar {
                
                .logo {
                    margin: 0 60px 0 0;
                    padding: 0 0 0 10px;
                }
                
            }
           
            .welcome-section {
                .introduction {
                    margin: 100px auto 0;
                }    
            }
            .work-section {
                margin: 100px auto 0;

                .projects {
                    .project-card {
                        width: 350px;
                        height: 520px;
                        flex-flow: column nowrap;
                        @include flex(column,center,flex-start);
                        .card-img {
                            margin: 0;
                            width: 320px;
                            height: 350px;
                            padding: 10px;
                        }
                        .card-content {
                            margin: 0 0 0 20px;
                            
                            .short-desc {
                                margin: 0 0 20px;
                            }
                            .card-title {
                                margin: 0 0 15px;
                            }
                            .card-desc {
                                margin: 0;
                            }
                            .link-container {
                                margin: 60px 0 40px;
                            }
                        }
                    }
                }
            }

            .about-section {
                padding: 0px 10px;

                
                .skills {
                    width: 95%;
                }
            }

            .dropMail-section {
                width: 100%;

                .drop-mail {
                    font-size: $font-h3;
                }
                .mailLink {
                    width: 80px;
                    height: 80px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

@media(max-width:350px) {

    body {
        .container {

            .navbar {
                
                .logo {
                    margin: 0 30px 0 0;
                    padding: 0 0 0 10px;
                }
            }
            
            .welcome-section {
                .introduction {
                    .role {
                        font-size: $font-h3;
                    }
                }
            }
            .work-section {
                .projects {
                    .project-card {
                        width: 300px;
                        height: 480px;
                       
                        .card-img {
                            width: 280px;
                            height: 260px;
                        }
                        .card-content {
                            width: 280px;
                            margin: 0 0 40px;
                            padding: 0px 10px;
                            
                            .link-container {
                                margin: 40px 0;
                                @include flex(column,flex-start,center);
                                .projectLinks:nth-child(1) {
                                    margin: 0 0 15px 0;
                                }
                            }
                        }
                    }
                }
            }

            .about-section {
                .about-description {
                    max-width: 280px;
                    margin: 30px 0;
                }
            }
            .experience-section {

                .experience-card {
                    width: 280px;
                }
            }

            .dropMail-section {
                width: 100%;
            }
        }
    }
}